/* line 3, sass/ie.scss */
.wrapper footer .footer_wrapper .footer-info .footer-social ul li a {
  behavior: url(pie/PIE.htc); }

/* line 9, sass/ie.scss */
.ie7 .wrapper .header_wrapper header nav ul li {
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* line 16, sass/ie.scss */
.ie7 .wrapper .sell_wrapper .sell-info .sell-box .sell-title {
  width: 265px; }

/* line 21, sass/ie.scss */
.ie7 .wrapper .sell_wrapper .sell-info {
  margin-bottom: 10px; }

/* line 25, sass/ie.scss */
.ie7 .wrapper .feedback_wrapper .feedback-container .feedback-link form {
  display: inline-block;
  zoom: 1;
  *display: inline; }

/* line 32, sass/ie.scss */
.ie7 .wrapper .about_wrapper .about-info .about-box .about-img {
  position: relative;
  left: 50%; }

/* line 38, sass/ie.scss */
.ie7 .wrapper .about_wrapper .about-info .about-box img {
  bottom: 10px;
  display: block;
  position: absolute;
  left: -10%; }

/* line 46, sass/ie.scss */
.ie7 .wrapper .about_wrapper .about-info {
  overflow: hidden; }

/* line 52, sass/ie.scss */
.ie7 .wrapper .about_wrapper .about-info {
  padding-bottom: 12px; }

/* line 58, sass/ie.scss */
.wrapper .brand_wrapper .brand-list-1, .wrapper .brand_wrapper .brand-list-2 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

/* line 62, sass/ie.scss */
.wrapper .sell_wrapper .sell-meta {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

/* line 67, sass/ie.scss */
.wrapper .reviews_wrapper .reviews-person {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

/* line 71, sass/ie.scss */
.wrapper .reviews_wrapper .reviews-container {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }
