@import "compass";
@import 'bourbon/bourbon';
$img-dir:"../img/";
$template-width:1190px;
a
	{
		text-decoration: none;
	}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}	
sub, sup 
	{
		/* Specified in % so that the sup/sup is the
		right size relative to the surrounding text */
		font-size: 75%;
		 
		/* Zero out the line-height so that it doesn't
		interfere with the positioning that follows */
		line-height: 0;
		 
		/* Where the magic happens: makes all browsers position
		the sup/sup properly, relative to the surrounding text */
		position: relative;
		 
		/* Note that if you're using Eric Meyer's reset.css, this
		is already set and you can remove this rule */
		vertical-align: baseline;
	}
 
sup
	{
		/* Move the superscripted text up */
		top: -0.5em;
	}
 
sub 
	{
		/* Move the subscripted text down, but only
		half as far down as the superscript moved up */
		bottom: -0.25em;
	}

html 
	{
		height: 100%;
		
	}	
body
	{
		background: #8BBAD5;
		-webkit-font-smoothing: subpixel-antialiased;
		font-size: 100%;
	}
.wrapper
{
	background: #badae9;
	font-family: 'Open Sans', sans-serif;
	.header_wrapper
		{
			background:#C0EDF3 url($img-dir + "header-fon.jpg") 0 0 repeat-x;
			header
			{
				
				background:  url($img-dir + "header-image.jpg") 50% 0 no-repeat;
				.header-top
					{
						background:  url($img-dir + "header-layout.png") 0 0 repeat;
						width: 100%;
						.header-container
							{
								width: $template-width;
								margin:0 auto;
								padding:43px 0 26px 0;
								overflow: hidden;
								.header-logo
									{
										float: left;
										margin-top: 9px;
										a
											{
												display: block;
												width: 373px;
												height: 49px;
											}
										span
											{
												display: block;
												font: 400 16px 'Open Sans';
												color: #fff;
											}
									}
								.header-link
									{
										float: right;
										padding-right: 20px;
										text-align: center;
										span
											{
												font: 400 21px 'Open Sans';
												color: #fff;
												line-height: 21px;
											}
										p
											{
												font: 600 24px 'Open Sans';
												color: #fff;
												line-height: 24px;
												margin-top: 5px;

											}	
									}	
							}		

					}
				.header-info
					{
						text-align: center;
						h2
							{
								font: 300 53px 'Open Sans';
								margin-top: 14px;
								color: #fff;
							}
						.info-terms
							{
								width: $template-width;
								margin: 25px auto 0 ;
								overflow: hidden;
								text-align: center;
								font-size: 0;

								.info-box
									{
										background:  url($img-dir + "header-layout.png") 0 0 repeat;
										width: 288px;
										height: 288px;
										overflow: hidden;
										display: inline-block;
										position: relative;
										font-size: 16px;
										margin: 0 4px;
										
												
										@include box-shadow(0px 0px 2px 1px #aad2e4);
										/*// & ~.info-box
										// 	{
										// 		margin-left: 12px;
										// 	}*/
										img
											{
												position: absolute;
												left: 50%;
												
												&.info-goods
													{
														margin-top: 90px;
														margin-left: -34px;
													}
												&.info-delivery
													{
														margin-top: 127px;
														margin-left: -42.5px;
													}
												&.info-order
													{
														margin-top: 90px;
														margin-left: -23px;
													}
												&.info-circle
													{
														margin-top: 91px;
														margin-left: -35px;
													}			
											}
										p
											{
												font: 600 21px 'Open Sans';
												color: #fff;
												margin-top: 168px;
											}	
									}
								button
									{
										float: right;
										width: 290px;
										height: 81px;
										border: none;
										outline: none;
										cursor: pointer;
										background:transparent   url($img-dir + "price-buttons.png") 0 0 no-repeat;
										margin-top: 11px;
										margin-right: 6px;
										&:hover
											{
												background-position: 0px -91px; 
											}
										&:active
											{
												background-position: 0px -182px; 
											}	
										
									}	
							}
							
					}	
				nav
					{
						background: #6cb1d0;
						width: 100%;
						position: relative;
						z-index: 100;
						height: auto !important;
											
						margin-top: 6px;
						.sticky-menu
							{
								background: #6cb1d0;
								width: 100%;
								text-align: center;
								position: relative;
							}
						.mobile
							{
								float: left;
								margin: 15px 0 15px 15px;
								cursor: pointer;
								display: none;
							}	
						ul
							{
								overflow: hidden;
								/*width: 1190px;*/
								margin:0 auto;
								/*padding: 0 20px;*/
								&.mobile-list
									{
										position: absolute;
										background: transparent url($img-dir + "header-layout.png") 0 0 repeat;
										display: inline-block;
										top: 56px;
										left: 0px;
										padding: 0 15px;
										border: 1px solid #C0EDF3;

									}
								& li ~ li
									{
										background: url($img-dir + "menu-item.png") 0 50% no-repeat;
										
									}
								li
									{
										display: inline-block;
										 margin-right: 25px;
										 padding-left:41px;
										 &.mobile-li
										 	{
										 		margin: 0;
										 		padding: 0;
										 		display: block;
										 		background-image: none;
										 		a
										 			{
										 				padding: 5px 0;
										 			}
										 	}
										a
											{
												font: 400 27px 'Open Sans';
												line-height: 27px;
												color: #fff;
												display: block;
												padding: 10px 0;
												@include transition(color 0.3s ease);
												&:hover
													{
														color: #c0edf4;
													}
											}
									}

							}
					}	
			}
					
		}
	.brand_wrapper
		{
			background: #fff;
			padding-bottom: 85px;
			position: relative;
			
			.link-goto
				{
					text-align: center;
					a
						{
							display: block;
							background:  url($img-dir + "nav-blue.png") 0 0 no-repeat;
							width: 111px;
							height: 51px;
							margin: 0 auto;
						}
				}
			.brand-list-1
				{
					opacity: 0;
				}	
			.brand-list-2
				{
					opacity: 0;
				}	
			#brand-anchor
				{
					position: absolute;
					top: 30px;
					height: 1px;
					width: 100%;
					

				}	
			h2
				{
					color: #476476;
					font: 300 53px 'Open Sans';
					line-height: 53px;
					text-align: center;
					margin: 65px 0 74px;
				}	
			ul
				{
					overflow: hidden;
					width: 1190px;
					margin: 0 auto;
					text-align: center;
					li
						{
							text-align: center;
							width: 140px;
							border:1px solid #e4eff5;
							/*border: 1px solid black;*/
							float: left;
							margin-bottom: 8px;
							img
								{
									width: 100%;
								}
							& ~ li
								{
									margin-left: 7px;
								}

						}

				}	
			
		}
	.about_wrapper
		{
			background: #C0EBF2 url($img-dir + "work-fon.jpg") 0 0 repeat-x;
			padding-bottom: 86px;
			position: relative;
			#about-anchor
				{
					position: absolute;
					top: 30px;
					height: 1px;
					width: 100%;
					

				}
			.link-goto
				{
					a
						{
							display: block;
							background:  url($img-dir  +"nav-white.png") 0 0 no-repeat;
							width: 107px;
							height: 53px;
							margin: 0 auto;
						}
				}
			h2
				{
					text-align: center;
					font: 300 53px 'Open Sans';
					line-height: 53px;
					color: #fff;
					margin: 66px 0 78px;
				}
			.about-show
				{
					position: relative;
					overflow: hidden;
				}		
			.about-info
				{
					width: 1190px;
					margin: 0 auto;
					overflow: hidden;
					text-align: center;
					&.info-list-1
						{
							position: relative;
							left: 100%;
						}
					&.info-list-2
						{
							position: relative;
							right: 100%;

						}	

					.about-box
						{
							width: 288px;
							height: 288px;
							background: #6baccc;
							float: left;
							margin-bottom: 12px;
							position: relative;
							.about-img
								{
									position: absolute;
									height: 58%;
									width: 100%;
									top: 0;
									left: 0;

									

								}
							.about-title
								{
									position: absolute;
									height: 42%;
									width: 100%;
									bottom: 0;
									left: 0;
									
								}	
							& ~ .about-box
								{
									margin-left: 12px;
								}
							img
								{
									position: absolute;
									left:0;
									bottom: 10px;
									right: 0;
									display: block;
									margin: auto;
									
									

								}
							p
								{
									font: 600 21px 'Open Sans';
									line-height: 24px;
									color: #fff;
									text-align: center;

								}	
						}
				}	
		}	
	.reviews_wrapper
		{
			background: #fff;
			overflow: hidden;
			padding-bottom: 45px;
			position: relative;
			#comment-anchor
				{
					position: absolute;
					top: 30px;
					height: 1px;
					width: 100%;
					

				}
			.link-goto
				{
					a
						{
							display: block;
							background:  url($img-dir  +"nav-blue.png") 0 0 no-repeat;
							width: 111px;
							height: 51px;
							margin: 0 auto;
						}
				}
			h2
				{
					color: #476476;
					font: 300 53px 'Open Sans';
					line-height: 53px;
					text-align: center;
					margin: 60px 0 77px 0;
				}	
			.reviews-person
				{
					width: 1190px;
					margin:0 auto;
					opacity: 0;

					.reviews_img
						{
							float: left;
							cursor: pointer;
							@include transition(all 0.3s ease);
							&.active
								{
									@include transform(scale(1.04));
									@include box-shadow(0px 0px 3px 1px #a8cce0);
								}
							&:hover
								{

									@include transform(scale(1.04));
									@include box-shadow(0px 0px 3px 1px #a8cce0);
									
								}
							img
								{
									display: block;
									width: 290px;
									height: 300px;
								}
							& ~ .reviews_img
								{
									margin-left: 10px;
								}
							.reviews-meta
								{
									background: #6CB1D0 url($img-dir + "comment-layout.jpg") 0 0 repeat-x;
									// rgb(64,150,238)
									border-top:1px solid #8cbbd5;
									border-bottom:1px solid #8cbbd5;
									padding: 23px 0 37px 23px;
									width: 267px;
									p
										{
											font: 600 21px 'Open Sans';
											line-height: 21px;
											color: #fff;
										}
								}	
						}
				}
			.reviews-container
				{
					border:1px solid #e2eef5;
					width: $template-width ;
					opacity: 0;	
					margin:15px auto 98px;
					position: relative;
					min-height: 360px;
					text-overflow: ellipsis;

					.reviews-private
						{
							position: relative;
							padding: 21px 26px;
							display: none;
							top: 0;
							left: 0;
							overflow: hidden;


							&.active
								{
									display: block;
								}
							h4
								{
									color: #476476;
									font: 400 28px 'Open Sans';
									line-height: 28px;

								}
							p
								{
									color: #476476;
									font: 400 15px 'Open Sans';
									margin-top: 24px;
									line-height: 1.5em;
								}	
						}
				}		
				
		}	
	.sell_wrapper
		{
			background: #c0ecf4 url($img-dir + "assort-fon.jpg") 0 0 repeat-x;
			overflow: hidden;
			padding-bottom: 99px;
			position: relative;
			#sell-anchor
				{
					position: absolute;
					top: 30px;
					height: 1px;
					width: 100%;
					

				}
			.link-goto
				{
					position: relative;	
					z-index: 999;
					a
						{
							display: block;
							background:  url($img-dir  +"nav-white.png") 0 0 no-repeat;
							width: 107px;
							height: 53px;
							margin: 0 auto;
						}
				}
			h2
				{
					color: #fff;
					font: 300 53px 'Open Sans';
					line-height: 53px;
					text-align: center;
					margin: 68px 0 76px;
				}
			.sell-show
				{
					position: relative;
					overflow: hidden;
				}
			.sell-list-1
				{
					top:-500px;
					
				}
			.sell-list-2
				{
					bottom:-500px;
				}			
			.sell-info
				{
						width: 1190px;
						margin: 0 auto;
						overflow: hidden;
						position: relative;
						
						.sell-box
							{
								float: left;
								margin-bottom: 10px;
								& ~ .sell-box
									{
										margin-left: 10px;
									}
								img
									{
										display: block;
										width: 290px;
										height: 300px;
									}
								.sell-title
									{
										background: #6aabcc;
										padding: 18px 0 0px 25px;
										height: 82px;
										p
											{
												font: 400 27px 'Open Sans';
												color: #fff;
												line-height: 24px;
											}
										span
											{
												font: 400 18px 'Open Sans';
												color: #fff;
												line-height: 20px;

											}	
									}	
							}
				}	
			.sell-meta
				{
					width: $template-width;
					margin:0px auto ;
					overflow: hidden;
					opacity: 0;
					button
						{
							float: right;
							margin-left: 10px;
							width: 290px;
							height: 81px;
							border: none;
							outline: none;
							cursor: pointer;
							background:transparent  url($img-dir + "price-buttons.png") 0 0 no-repeat;
							
							&:hover
								{
									background-position:0px -91px;
								}
							&:active
								{
									background-position:0px -182px;
								}	

						}
				.sell-link
						{
							float: right;
							width: 540px;
							background: #6cb1d0;
							overflow: hidden;
							padding: 0 27px 10px 23px;
							p
								{
									font: 400 21px 'Open Sans';
									color: #fff;
									float: left;
									margin-top: 22px;
								}
							.sell-phone
								{
									float: right;
									p
										{
											float: none;
											font: 600 24px 'Open Sans';
											margin: 3px 13px 0 0;
										}
								}	
						}
				}		

						

		}	
	.feedback_wrapper
		{
			background: #fff;
			padding-bottom:10px;
			position: relative;
			#feedback-anchor
				{
					position: absolute;
					top: 30px;
					height: 1px;
					width: 100%;
					

				}
			.link-goto
				{
					text-align: center;
					a
						{
							display: block;
							background:  url($img-dir + "nav-blue.png") 0 0 no-repeat;
							width: 111px;
							height: 51px;
							margin: 0 auto;
						}
				}
			h2
				{
					color: #476476;
					font: 300 53px 'Open Sans';
					line-height: 53px;
					text-align: center;
					margin: 62px 0 66px;
				}
			.feedback-container
				{
					width: 1190px;
					margin: 50px auto 0 ;
					overflow: hidden;
					.feedback-info
						{
							float: left;
							width: 589px;
							height: 470px;
							border: 1px solid #e2eef5;
							text-align: center;
							position: relative;
							right: 100%;
							h6
								{
									font: 400 27px 'Open Sans';
									margin-top: 50px;
									color: #476476;
								}
							p
								{
									font: 400 21px 'Open Sans';
									color: #476476;
									margin-top: 90px;
								}	
							.feedback-phone
								{
									margin-top: 20px;
									p
										{
											margin: 0;
											& + p
												{
													margin-left: 25px;
												}
											
										}
									
								}	

						}
					.feedback-link
						{
							float: right;
							position: relative;
							width: 589px;
							height: 470px;
							border: 1px solid #e2eef5;
							text-align: center;
							left: 100%;
							h6
								{
									font: 400 27px 'Open Sans';
									margin-top: 50px;
									color: #476476;
								}
							p
								{
									font: 400 14px 'Open Sans';
									color: #476476;
									& > span
										{
											text-decoration: underline;
											cursor: pointer;
										}
								}	
							form
								{
									display: block;
									width: 291px;
									margin: auto;
									margin-top: 9px;
									label
										{
											display: block;
											text-align: left;
											margin-left: 17px;
											color: #476476;
											font: 400 21px 'Open Sans';
											margin-bottom: 1px;
										}
									input
										{
											display: inline-block;
											width: 271px;
											border: 1px solid transparent;
											outline: none;
											background: #8cbbd5;
											color: #fff;
											padding: 8px 0 5px  18px;
											font: 400 21px 'Open Sans';
											
											margin-bottom: 6px;
											-webkit-box-shadow:none !important;
											-moz-box-shadow:none !important;
											box-shadow:none !important;
											&:focus
												{
													border: 1px solid #3B5998;
													
												}
										}
									::-webkit-input-placeholder 
										{ 
										    color:    #fff;
										    font: 400 21px 'Open Sans';
										    
										}
									:-moz-placeholder 
										{ 
										    color:    #fff;
										    font: 400 21px 'Open Sans';
										    
										}
									::-moz-placeholder
										{
										    color:    #fff;
										    font: 400 21px 'Open Sans';
										    
										}
									:-ms-input-placeholder 
										{ 
										    color:    #fff;
										    font: 400 21px 'Open Sans';
										    
										}	
								}	
							
							button
								{
									display: block;
									width: 290px;
									height: 81px;
									border: none;
									outline: none;
									cursor: pointer;
									background: transparent url($img-dir + "price-buttons.png") 0 0 no-repeat;
									margin: 16px auto 6px;
									&:hover
										{
											background-position:0px -91px; 
										}
									&:active
										{
											background-position:0px -182px; 
										}
								}		

						}	
				}		
		}	
	footer
		{
			background: #fff;
			padding-top: 104px;
			position: relative;
			img.footer-dog
				{
					position: absolute;
					left: 50%;
					margin-left: -109.5px;
					bottom: 0;
					z-index: 1;
				}
			.footer_wrapper
				{
					width: 100%;
					position: relative;
					z-index: 100;
					background:  url($img-dir + "footer-layout.png") 0 0 repeat;
					padding: 46px 0 30px;
					.footer-info
						{
							width: 1190px;
							overflow: hidden;
							margin: 0 auto;
							.footer-logo
								{
									float: left;
									p
										{
											font: 400 14px 'Open Sans';
											color: #fff;
											
										}

								}
							.footer-social
								{
									float: left;
									ul
										{
											margin-left: 88px;
											overflow: hidden;
											li
												{
													float: left;
													margin-right: 8px;
													a
														{
															border:2px solid transparent;
															display: block;
															width: 58px;
															height: 58px;
															@include border-radius(100%);
															@include transition(all 0.3s ease);
															&:hover
																{
																	border:2px solid #fff;
																}

														}
												}
										}
								}	
							.footer-copyright
								{
									float: right;
									p
										{
											font: 400 15px 'Open Sans';
											line-height: 15px;
											color: #fff;
											margin-top: 2px;
										}
								}	

						}
				}	
		}
	/*price page*/
	.header_wrapper.price
		{
			/*background:#fff  url($img-dir + "price-header.png") 0 0 repeat;*/
			background: #fff url($img-dir + "price-layout.png") 0 0 repeat;
			header
				{
					background:  url($img-dir + "price-img.jpg") 50% 0 no-repeat;
					.header-top
						{
							border-bottom: 1px solid #6fa4c8;
							background: transparent url($img-dir + "price-header.png") 0 0 repeat;
							width: 100%;
						}
					.header-back
						{
							height: 660px;
							width: 1190px;
							margin: auto;
							overflow: hidden;
							a
								{
									float: right;
									width: 291px;
									height: 81px;
									background:transparent  url($img-dir + "back-buttons.png") 0 0 no-repeat;
									margin-top: 11px;
									&:hover
										{
											background-position:  0 -91px ;
										}
									&:active
										{
											background-position:  0 -182px ;
										}

								}
						}
					.header-price
						{
							width: 1190px;
							height: 290px;
							margin:108px auto 0;
							overflow: hidden;
							background:  url($img-dir + "price-content.png") 0 0 repeat;
							p
								{
									font: 300 48px 'Open Sans';
									color: #fff;
									text-align: center;
									margin-top: 50px;
									line-height: 52px;
									& + p 
										{
											margin-top: 0;
										}
								}
						}
				}

		}
	footer.footer-price
		{
			padding: 0;
		}	
	.footer_wrapper.price
		{
			background:  url($img-dir + "price-footer.png") 0 0 repeat;
		}

				
}

/*privacy window*/
.privacy-modal
	{
		position: fixed;
		top: 0;
		left: 0;
		background: url($img-dir + "privacy-fon.png") 0 0 repeat;
		width: 100%;
		height: 100%;
		z-index: 999;
		display: none;
		.privacy-window
			{
				background: #fff;
				width: 1100px;
				height: 448px;
				text-align: left;
				padding: 0 45px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -224px;
				margin-left: -595px;
				z-index: 9999;
				word-wrap: break-word;
				
				span
					{
						position: absolute;
						top: 18px;
						right: 18px;
						cursor: pointer;
					}
				h3
					{
						font: 600 36px 'Open Sans';
						color: #476476;
						margin: 15px;
						text-align: center;
					}
				p
					{
						font: 400 16px 'Open Sans';
						color: #476476;
						margin-top: 15px;
					}	
			}

	}

/*price window*/	
.price-modal
	{
		position: fixed;
		top: 0;
		left: 0;
		background: url($img-dir + "privacy-fon.png") 0 0 repeat;
		width: 100%;
		height: 100%;
		z-index: 997;
		display: none;
		.price-window
			{
				width: 591px;
				height: 500px;
				background: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -250px;
				margin-left: -295px;
				span.close
					{
						position: absolute;
						top: 18px;
						right: 18px;
						cursor: pointer;
					}
				.feedback-link
						{
							float: right;
							width: 589px;
							height: 470px;
							border: 1px solid #e2eef5;
							text-align: center;
							background: #fff;
							h6
								{
									font: 400 27px 'Open Sans';
									margin-top: 50px;
									color: #476476;
								}
							p
								{
									font: 400 14px 'Open Sans';
									color: #476476;
									& > span
										{
											text-decoration: underline;
											cursor: pointer;
										}
								}	
							form
								{
									display: inline-block;
									margin-top: 9px;
									label
										{
											display: block;
											text-align: left;
											margin-left: 17px;
											color: #476476;
											font: 400 21px 'Open Sans';
											margin-bottom: 1px;
										}
									input
										{
											display: inline-block;
											width: 271px;
											border: 1px solid transparent;
											outline: none;
											background: #8cbbd5;
											color: #fff;
											padding: 8px 0 5px  18px;
											font: 400 21px 'Open Sans';
											margin-bottom: 6px;
											-webkit-box-shadow:none !important;
											-moz-box-shadow:none !important;
											box-shadow:none !important;
											&:focus
												{
													border: 1px solid #3B5998;
												}
										}
									::-webkit-input-placeholder 
										{ 
										    color:    #fff;
										    font: 400 21px 'Open Sans';

										}
									:-moz-placeholder 
										{ 
										    color:    #fff;
										    font: 400 21px 'Open Sans';
										}
									::-moz-placeholder
										{
										    color:    #fff;
										    font: 400 21px 'Open Sans';
										}
									:-ms-input-placeholder 
										{ 
										    color:    #fff;
										    font: 400 21px 'Open Sans';
										}	
								}	
							
							button
								{
									display: block;
									width: 290px;
									height: 81px;
									cursor: pointer;
									border: none;
									outline: none;
									background: transparent url($img-dir + "request-buttons.png") 0 0 no-repeat;
									margin: 16px auto;
									&:hover
										{
											background-position: 0px -91px;
										}
									&:active
										{
											background-position: 0px -182px;
										}
								}		

						}

			}
	}

